.BooksCard > img {
    width: 15rem;
    height: 15rem;
    max-width: 100%;
}

.BooksCard {
    width: 15rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(182, 181, 181);
}

.BooksCard:hover {
    border: solid 2px rgb(15, 15, 15);
}

.BooksCard > span {
    font-size: larger;
    font-weight: 800;
    margin: 0.7rem;
    text-align: center;
}